@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

body {
  transform: scale(0.8);
  transform-origin: center top;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #f8f8f8;
  line-height: 1.4;
}

.main {
  max-width: 800px;
  min-width: 800px;
  margin: auto;
  background: #fff;
  border-radius: 5px;
}

.nab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #307916;
  gap: 20px;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 10px;
  border-radius: 5px;
}

.nab-bar h1 {
  font-size: 20px;
  font-weight: 500;
}

.nab-bar h3 {
  font-size: 15px;
  font-weight: 400;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input,
select {
  display: block;
  width: 150px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.addition-sub input {
  width: auto;
  margin-right: 5px;
  display: inline;
}

.average input {
  width: auto;
  margin-right: 5px;
  display: inline;
}

.form-div {
  margin: auto;
  padding: 50px;
}

.subjects {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.average {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  background-color: #307916;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
}

.btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background-color: #3e8b22;
}

.btn:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.btn:active {
  background-color: #4e9933;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.addition-sub {
  margin: 25px 30px 25px 0;
}

.addition-sub input {
  margin-left: 10px;
}

.show-result {
  text-align: center;
  margin-top: -40px;
  font-size: 20px;
  padding-bottom: 40px;
  font-weight: 600;
}
